{% zone "Header" %}
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase">{{ Model.ContentItem | display_text }} </div>
      </div>
    </div>
</header>
{% endzone %}

<section>
    <h1>Model.Content {{ Model.Content }}</h1>
  <div class="container">
      {{ Model.Content | shape_render }}
  </div>
</section>

