    <ul >
      {% for item in Model.Items %}
      {{ item | shape_render }}
      {% endfor %}
      <li class="btn-cta">
        <a href="https://obs.sabis.sakarya.edu.tr/">
          <span>OBS</span>
        </a>
      </li>
    </ul>